!!!
%html.no-js{:lang => "en"}
  %head
    %title Gulp 4 Layout
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    / Remote styles
    %link{:href => "https://simonsharville.github.io/gulp4_bootstrap4_boilerplate/assets/css/sard-styles.min.css", :rel => "stylesheet"}/
    / Local styles
    %link{:href => "assets/css/sard-styles.min.css", :rel => "stylesheet"}/

  %body
    .container
      %h1 GULP4 Index page 


      %h2 type into terminal: gulp watch


    
      //=include partials/index/_partialtest.haml


      %a.btn.btn-primary{:href => "#"} button
      %i.fas.fa-anchor


    .container
      .row
        .col
          %h1 Bootstrap Grid
      .row
        .col-12.col-sm-4.column
          One of three columns
        .col-12.col-sm-4.column
          One of three columns
        .col-12.col-sm-4.column
          One of three columns

      .row
        .col-12
          %h1 Collapse
        .col-12
          %p
            %a.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample", :role => "button"}
              Link with href
            %button.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#collapseExample", "data-toggle" => "collapse", :type => "button"}
              Button with data-target
          #collapseExample.collapse
            .card.card-body
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.


    / SCRIPTS ==================================================================
    %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}