!!!
%html.no-js{:lang => "en"}
  %head
    %title Gulp 4 Layout
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    / Remote styles
    %link{:href => "https://simonsharville.github.io/gulp4_bootstrap4_boilerplate/assets/css/sard-styles.min.css", :rel => "stylesheet"}/
    / Local styles
    %link{:href => "assets/css/local-styles.min.css", :rel => "stylesheet"}/

  %body
    //=include partials/global/_navbar.haml

    .container
      %h1 GULP 4 - Index page 


      %h2 type into terminal: gulp watch


    
      //=include partials/index/_partialtest.haml


      %a.btn.btn-primary{:href => "#"} button
      %i.fas.fa-anchor


    .container
      .row
        .col
          %h1 Bootstrap Grid
      .row
        .col-12.col-sm-4.column
          One of three columns
        .col-12.col-sm-4.column
          One of three columns
        .col-12.col-sm-4.column
          One of three columns

      .row
        .col-12
          %h1 Collapse
        .col-12
          %p
            %a.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample", :role => "button"}
              Link with href
            %button.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#collapseExample", "data-toggle" => "collapse", :type => "button"}
              Button with data-target
          #collapseExample.collapse
            .card.card-body
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.


    / SCRIPTS ==================================================================
    / Remote Scripts
    %script{:src => "https://simonsharville.github.io/gulp4_bootstrap4_boilerplate/assets/js/sardJS.min.js"}
    / Local Scripts
    %script{:src => "assets/js/localScripts.min.js"}

