!!!
%html.no-js{:lang => "en"}
  %head
    %title Gulp 4 Boilerplate
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / This imports the remote styles and local styles
    %link{:href => "assets/css/sard-styles.min.css", :rel => "stylesheet"}/
 
  %body
    //=include navbars/_navbar-x0.haml


    .container
      %h1 SARD Gulp 4 - Boilerplate
      %p.lead This boilerplate is built using Gulp 4.

      %p.lead It has NO Bootstrap, Roboto Font or Icons (fontawesome and Sard Icons) installed, instead it takes them from the SARD Remote styles. 
      
      %p.lead All the styles for Bootstrap Components, Fonts, Colours, Sard Icons and Font Awesome Icons are loaded from a remote site, as well as any core Javerscript.

      %h4 Build and Compile 
      %p To build on this site, work ONLY in the 'app' folder, Gulp will compile everything into the 'docs' folder, which is the public folder on github.

      %h4 Local styles and scripts
      %h6 Adding local styles
      %p To add new styles, add them within the "scss/local-styles" folder. and import them into the "scss/_local-overrides.scss" file. Gulp will compile this with the remote styles and create one minified css file 'sard-styles.min.css'.

      %h6 Adding local scripts
      %p When adding scripts, there are 2 options:
      %p 1.  You can add a script to the scripts folder and then add it in the gulpfile.js file, This will add it to the global 'local-scripts.js' file on all pages.
      %p or
      %p 2.  You can add it to the scripts folder and link to it from a specific page. These will NOT be included in the global 'local-scripts.js' file on all pages.

      %h4 Duplicating this project
      %p To create a project, duplicate or fork this project and rename it. 
      %p 
        You should only need to open up terminal, navigate to the new project folder and type gulp, It should open up a new browser window and you can start working, if it doesn't you may need to first run 
        %span.bold npm install
        in terminal before you run gulp.





    / Scripts ================================

    / Remote Scripts
    %script{:src => "https://simonsharville.github.io/gulp4_bootstrap4_boilerplate/assets/js/remote-sard-scripts.min.js"}
    / Local Scripts
    %script{:src => "assets/js/local-scripts.min.js"}
